body{
  background-color: #F2F2F2;
  color: $color-black;
}
.result{
  position: relative;
  padding: 10px 15px;
  padding-right: 100px;
  .price{
    position: relative;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    .fa{
      position: absolute;
      left: 20px;
      top: 16px;
    }
  }
  .confirm{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 70px;
    height: 65px;
    background-color: $color-blue;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
    color: $color-white;
  }
}
.items{
  padding: 5px 15px;
  padding-right: 5px;
  font-size: 0;
  .item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 140px;
    padding: 2px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    background-color: $color-white;
    margin-right: 10px;
    img.thumb{
      font-size: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .fa:before{
      padding-right: 3px;
    }
    .name{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 5px;
      background-color: #F2F2F2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 10px;
      color: $color-black;
    }
    .price{
      position: absolute;
      left: 0;
      top: 0;
      padding: 5px;
      background-color: #F2F2F2;
      font-size: 8px;
      color: $color-black;
    }
    .count{
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      background-color: #F2F2F2;
      font-size: 8px;
      color: $color-black;
    }
    &.added{
      background-color: $color-blue;
      .thumb{
        opacity: 0.7;
      }
      .name,.price,.count{
        background-color: $color-blue;
        color: #FFF;
      }
    }
    .added_count{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 40px;
      color: #FFF;
    }
  }
}

.deals{
  &__list{
    width: 100%;
    tr.deal{
      background-color: #fff;
    }
    td{
      white-space: nowrap;
      padding: 5px;
    }
    &__head{
      background-color: $color-gray;
      color: $color-white;
      white-space: nowrap;
    }
    &__price{
      text-align: right;
      .fa{
        padding-right: 3px;
      }
    }
    &__name{
      white-space:normal !important;
      span{
        display: inline-block;
        margin: 3px;
        padding: 3px;
        background-color: #F2F2F2;
      }
    }
    &__statistics{
      span::after{
        display: inline-block;
        padding: 2px 4px;
        background-color: #EFEFEF;
        white-space: nowrap;
        text-align: center;
        font-size: 10px;
        color: $color-black;
      }
      .deal-statistics-gender[data='man']::after{
        content:'男';
        background-color: lighten(desaturate($color-blue, 40), 10);
        color: #FFF;
      }
      .deal-statistics-gender[data='woman']::after{
        content:'女';
        background-color: lighten(desaturate($color-red, 40), 10);
        color: #FFF;
      }
      span[data='10']::after{
        content:'10';
      }
      span[data='20']::after{
        content:'20';
      }
      span[data='30']::after{
        content:'30';
      }
      span[data='50']::after{
        content:'50';
      }
    }
  }
}

.createitem{
  padding: 15px;
  background-color: $color-black;
  color: #FFF;

  section{
    margin-bottom: 15px;
  }
  h4{
    padding-bottom: 15px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
  h6{
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 5px;
  }
  input[type="text"],input[type="number"]{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    color: $color-black;
    border: none;
    border-radius: 3px;
  }
  .caption{
    opacity: 0.5;
    padding: 3px;
    line-height: 14px;
    font-size: 10px;
  }
  .btn{
    background-color: $color-green;
    color: $color-black;
  }
  .thumb_image{
    display: none;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.btn{
  width: 100%;
  padding: 15px;
  background-color: $color-black;
  text-align: center;
  font-size: 18px;
  color: $color-white;
  cursor: pointer;
  &-blue{
    @include gradient(desaturate($color-blue, 10), desaturate(adjust-hue($color-blue, 80deg), 80), horizontal);
    // background-color: $color-blue;
  }
  &-green{
    background-color: $color-green;
  }
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  padding: 20px;
  @include gradient(rgba(desaturate($color-blue, 10), 0.8), rgba(desaturate(adjust-hue($color-blue, -20deg), 40), 0.8), vertical);
  opacity: 0;
  .modal-component{
    width: 100%;
    max-width:320px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background-color: #FFF;
    color: $color-black;
  }
  // フォーム項目名
  h5{
    padding: 10px 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-gray;
    text-align: center;
    font-size: 16px;
  }
  .form-group{
    padding: 15px 0;
    border-bottom: 1px solid rgba($color-gray, 0.4);
  }
  .flex{
    display: flex;
    align-items:stretch;
    input{
      display: none;
    }
    label{
      flex-grow: 1;
      padding: 10px;
      margin: 1px;
      border: 1px solid transparent;
      text-align: center;
      background-color: #EFEFEF;
    }
    input:checked+label{
      color: #FFF;
      background-color: $color-blue;
    }
  }
}

// menu
.menu_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  @include gradient(rgba(lighten(desaturate(adjust-hue($color-blue, -40deg), 30), 20), 0.8), rgba(desaturate(adjust-hue($color-blue, -10deg), 20), 0.8), vertical);
  opacity: 0;
}
.menu_btn{
  position: fixed;
  left: 50%;
  bottom: 15px;
  z-index: 10;
  transform: translateX(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background: #fff;
  cursor: pointer;
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
  }
  &.menu_item{
    width: 50px;
    height: 50px;
    i{
      font-size: 28px;
    }
    &::after{
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      text-align: center;
      color: #FFF;
    }
  }
  &[menu-shown]{
    background: #fff;
    color: $color-gray;
  }
  &--init{
    @include gradient(rgba(lighten(desaturate(adjust-hue($color-blue, 0deg), 0), 0), 1), rgba(desaturate(adjust-hue($color-blue, -10deg), 20), 1), vertical);
    color:#FFF;
  }
  &--create{
    margin-bottom:30px;
    margin-left:-80px;
    color: adjust-hue($color-blue, -15deg);
    &::after{
      content:"Add";
    }
  }
  &--deals{
    margin-bottom:80px;
    color: adjust-hue($color-blue, 0deg);
    &::after{
      content:"Deals";
    }
  }
  &--configs{
    margin-bottom:30px;
    margin-left:80px;
    color: adjust-hue($color-blue, 15deg);
    &::after{
      content:"Setting";
    }
  }
}
