body{
  width: 100%;
  padding-bottom: 50px;
  background-color: #F2F2F2;
  color: $color-black;
}
.result{
  position: relative;
  padding: 10px 15px;
  padding-right: 100px;
  .price{
    position: relative;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    .fa{
      position: absolute;
      left: 20px;
      top: 16px;
    }
  }
  .confirm{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 70px;
    height: 65px;
    background-color: $color-blue;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
    color: $color-white;
  }
}

.btn{
  width: 100%;
  padding: 15px;
  background-color: $color-black;
  text-align: center;
  font-size: 18px;
  color: $color-white;
  cursor: pointer;
  &-blue{
    @include gradient(desaturate($color-blue, 10), desaturate(adjust-hue($color-blue, -15deg), 15), horizontal);
    // background-color: $color-blue;
  }
  &-green{
    background-color: $color-green;
  }
}
