.configs{
  section{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    &:last-child{
      border-bottom: none;
    }
  }
  .config{
    display: flex;
    margin: 5px 0;
    &__name{
      text-align: left;
      flex-grow: 1;
      font-size: 12px;
      line-height: 26px;
    }
    &__action{
      flex-grow: 1;
      flex-basis: 50px;
      text-align: right;
      &__btn{
        display: inline-block;
        width: 40px;
        height: 22px;
        margin-top: 2px;
        border-radius: 3px;
        background-color: #999999;
        text-align: center;
        line-height: 22px;
        color: #FFF;
      }
    }
    p{
      margin-top: 20px;
      font-size: 10px;
      color: #BBB;
    }
  }
}
