.create{
  padding: 15px;
  background-color: $color-black;
  color: #FFF;
  section{
    margin-bottom: 20px;
  }
  h4{
    padding-bottom: 15px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
  h6{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 3px;
    padding-left: 10px;
    border-left: 3px solid $color-black;
  }
  input[type="text"],input[type="number"]{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    color: $color-black;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    background-color: #F2F2F2;
    &:focus{
      outline: none;
      border-color: $color-blue;
    }
  }
  .caption{
    opacity: 0.5;
    padding: 3px;
    line-height: 14px;
    font-size: 10px;
  }
  .btn{
    background-color: $color-blue;
    color: #FFF;
  }
  input[type='file']{
    display: none;
  }
  .thumb_image{
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    background-color: #F2F2F2;
    img{
      display: block;
      position: relative;
      width: 142px;
      height: 142px;
      margin: -1px;
      object-fit: cover;
      z-index: 1;
    }
    i.fa{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 60px;
      color: #DDDDDD;
    }
  }
}
