.dashboard{
  height: 300px;
  width: 100%;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  font-family: "jaf-domus-titling-web";
  &__head{
    height: 50px;
    text-align: center;
    h1{
      font-weight: normal;
      font-size: 22px;
    }
    h2{
      transform: translateY(-10px);
      font-weight: normal;
      font-size: 12px;
    }
  }
  &__content{
    @include transition(0.3, all, $easeOutCubic)
    height: 210px;
    width: 100%;
    white-space: nowrap;
    font-size: 0;
  }
  &__container{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  &__pager{
    position: absolute;
    left: 0;
    bottom: 170px;
    height: 6px;
    width: 100%;
    text-align: center;
    .page{
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      &.on{
        opacity: 1;
      }
    }
  }
  &__summary{
    display: flex;
    margin-bottom: 10px;
    .summary{
      flex: 1;
      h6{
        margin-bottom: -10px;
        transform: scale(0.7);
        font-weight: normal;
        font-size: 9px;
      }
      h5{
        margin-bottom: -10px;
        font-weight: normal;
        font-size: 12px;
      }
      span{
        font-size: 20px;
        font-weight: normal;
      }
      .summary-donut{
        text-align: center;
        height: 200px;
        width: 200px;
        margin: 0 auto;
        text{
          fill: #FFFFFF;
        }
        path{
          stroke: #FFFFFF;
        }
        g[class^="pie-"]{
          opacity: 0;
          transform: rotate(-30deg) scale(0);
        }
        @for $value from 0 through 20{
          .pie-#{$value}{
            @include animation(GraphIn, 0.6, $easeOutCubic, 0.2 * $value);
            path{
              fill: rgba(44, 212, 199, 0.7 - (0.15 * $value)) !important;
            }
          }
        }
      }
    }
  }
}
