.ui-switch{
  display: none;
  +label{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    border: 2px solid #DDD;
    border-radius: 3px;
    filter: hue-rotate(80deg);
    @include transition(0.1);
    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 15px;
      height: 15px;
      margin-left: -9px;
      border-radius: 3px;
      background-color: #DDD;
      @include transition(0.1);
    }
  }
  &:checked+label{
    border: 2px solid $color-blue;
    &::before{
      margin-left: 9px;
      background-color: $color-blue;
    }
  }
}
