template#modal-configs
  .configs
    .config
      .config__name
        | 購買者の情報を記録する
      .config__switch
        input#statistics_f.ui-switch(
          type="checkbox",
          checked="{{$root.$data.configs.statistics_f}}",
          v-on:change="$root.changeConfig('statistics_f', !$root.$data.configs.statistics_f)"
          )
        label(for="statistics_f")
