template#modal-configs
  .configs
    section
      .config
        .config__name
          | 購買者の情報を記録する
        .config__action
          input#statistics_f.ui-switch(
            type="checkbox",
            checked="{{$root.$data.configs.statistics_f}}",
            v-on:change="$root.changeConfig('statistics_f', !$root.$data.configs.statistics_f)"
            )
          label(for="statistics_f")
    section
      .config
        .config__name
          | CSVでデータを出力する
        .config__action
          .config__action__btn(@click="$root.makeCSV()") 実行
    section
      .config
        .config__name
          | 取引情報を空にする
        .config__action
          .config__action__btn(@click="$root.clearDeals()") 実行
      .config
        .config__name
          | 初期化する
        .config__action
          .config__action__btn(v-on:click="$root.initialize()") 実行
      .config
        .config__name
          | ダミーを入れる
        .config__action
          .config__action__btn(v-on:click="$root.setdummy()") 実行
      .config
        p Twitter等のアプリ内で立ちあげるブラウザの場合、一部のjavascriptが効かない場合があり上手く動作しませんので、Safari等からお試しください。
