.dashboard(v-touch:swipeleft="$root.slideDashbordPanel('next')",v-touch:swipeRight="$root.slideDashbordPanel('prev')")
  .dashboard__head
    h1 {{$root.$data.appinfo.name}}
    h2.tk v{{$root.$data.appinfo.version}}
  .dashboard__content.js-dashboard-content
    .dashboard__container.js-dashboard-container
      | ないよういっこめ
    .dashboard__container.js-dashboard-container
      | ないようにこめ
  .dashboard__pager.js-dashboard-pager
    .page.on
    .page
  
