.dashboard(v-touch:swipeleft="$root.slideDashbordPanel('next')",v-touch:swipeRight="$root.slideDashbordPanel('prev')")
  .dashboard__head
    h1 {{$root.$data.appinfo.name}}
    h2.tk v{{$root.$data.appinfo.version}}
  .dashboard__content.js-dashboard-content
    .dashboard__container.js-dashboard-container
      .dashboard__summary
        .summary
          h6 visitor
          span {{$root.countDeals()}}
        .summary
          h6 item
          span {{$root.countDealItems()}}
        .summary
          h6 total
          span {{$root.earnings()}}
      .dashboard__summary
        .summary
          h5 頒布数の割合
          .summary-donut

    .dashboard__container.js-dashboard-container
      | ないようにこめ
  .dashboard__pager.js-dashboard-pager
    .page.on
    .page
  
