template#modal-deals
  .deals
    table.deals__list
      tr.deals__list__head
        td 日時
        td 金額
        td 内容
        td(v-if="$root.statistics_f()") 情報
        //- td.deals__list__price 
        //-   |{{earnings()}}

      tr.deal(v-for="deal in $root.deals")
        td
          span {{$root.dispTime(deal.created)}}
        td.deals__list__price
          span {{deal.price}}
        td.deals__list__name
          span(v-for="item in $root.items", track-by="$index", v-if="deal.items.indexOf(item.id) > -1")
            span(v-if="$root.countItemInItems(deal.items, item.id) != 1")
              {{$root.countItemInItems(deal.items, item.id)}}
            {{item.name}}
        td.deals__list__statistics(v-if="$root.statistics_f()")
          span(v-if="deal.statistics")
            span.deal-statistics-gender(data='{{deal.statistics.gender}}')
            span.deal-statistics-age(data='{{deal.statistics.age}}')
            span.deal-statistics-sample(data='{{deal.statistics.sample}}')
