template#modal-notsupported
  div.modal-commontext
    | こんにちは、
    br
    | このアプリに興味を持っていただいてありがとうございます。
    br
    br
    | 非常に申し訳ないのですが、
    br
    | このアプリはTwitter内部ブラウザでは正常に動作いたしません。
    | Safari/Chrome等のブラウザで、再度お試しいただければ幸いです。
    br
    br
    | ご協力お願いします。
    br
    | matsurai25
    br
    br
    | 理由:
    br
    | Twitter内部ブラウザにおいて、javascriptのalert/confirmが上手く動作しないこと、
    | またこのアプリのデータの保存もブラウザごとなので、内部ブラウザで初めてしまうと
    | 逐一ツイッターからこのURLを開かなければならず、利用しにくい状況に陥るためです。
