<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=320,user-scalable=no")
    link(rel="stylesheet", href="./assets/css/font-awesome.css")
    link(rel="stylesheet", href="./assets/css/application.css")
    script(src="./assets/js/bundle.js")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

  body#vue
    .toasts
    .result
      .price
        .fa.fa-jpy
        span.num {{cartPrice()}}
      .confirm(v-on:click="enterDealActions()")
        | 会計

    //- .btn(v-on:click="setdummy()") ダミーを入れる
    //- .btn(v-on:click="initialize()") 初期化する

    .menu_btn.menu_btn--init.js-show-menu(v-on:click="toggleMenu()", menu-shown="{{menu_f()}}")
      i.fa.fa-bars
    .menu_btn.menu_item.menu_btn--create.js-show-menu(v-if="menu_f()", transition="pop", v-on:click="segue('modal-create')")
      i.fa.fa-plus
    .menu_btn.menu_item.menu_btn--deals.js-show-menu(v-if="menu_f()", transition="pop", v-on:click="segue('modal-deals')")
      i.fa.fa-table
    .menu_btn.menu_item.menu_btn--configs.js-show-menu(v-if="menu_f()", transition="pop", v-on:click="segue('modal-configs')")
      i.fa.fa-cog
    .menu(v-if="menu_f()", transition="fade")
      include _dashboard


    // モーダルは全部これを通す
    .modal(v-if="modal_f()", transition="fade", modal-content="{{state.modalContent}}")
      component.modal-component(:is="state.modalContent",v-if="modal_f()" , transition="slideUp")
      .menu_btn(v-if="modal_f()", transition="fade", v-on:click="hideModal()")
        i.fa.fa-times

    // テンプレートだけ
    include _statistics
    include _items
    include _deals
    include _create
    include _configs
